

/* Layout */
* { padding: 0px; margin: 0px; }
.wrap { height: 100%; margin: 0px auto; }
ul { list-style: none; }
a { text-decoration: none; color: black; }

/* Layout - header */
.headerwrap { width: 100%; border-bottom: 1px gray solid;}
header { width: 980px; height: 230px; margin: 0px auto;}
header div.headertop { width: 980px; height: 30px; margin-bottom: 10px; margin-top: 10px; }
header div.headermid { width: 980px; height: 120px; margin-bottom: 10px; text-align: center; font-weight: bold; font-size: 70pt;}
header div.headerbot { width: 980px; height: 30px; padding-top: 10px; margin-bottom: 10px; text-align: center; font-size: 15pt; }

.mainlogo {font-family: 'Paytone One', sans-serif;}
.regi { float: right; font-size: 15pt;}
.regi li { display: inline; }
.regi ul li a:hover{ text-decoration: underline; }
.snsnav li { display: inline; margin-right: 20px; float: left;}
.mainnav ul { width: 980px; }
.mainnav ul li { display: inline; margin-right: 40px;}
.mainnav li a:hover{ color: red;}
.mainnav li div input { border: 0 solid black; border-bottom: 1px solid black; }

/* Layout - section */
section { width: 1280px; height: 100%; margin: 0px auto 20px auto;}
.brdprivateinfo { width: 900px; height: auto; display: inline-block; }
.privateinfo { width: 860px; height: auto; padding-left: 40px; }
.brdwrap { width: 900px; height: auto; margin: 20px auto;  border-radius: 10px;}
.profilepic { float: left; width: 160px; height: auto; margin-left: 40px; }
.profilepic div{ width: 80px; height: 80px; padding: 10px; border: 0.2px #D5D5D5 solid; border-radius: 70%;}
.profilepic div:hover{ border: 0.2px red solid; cursor: pointer;}
.profilepic div img{ width: 80px; height: 80px; border-radius: 70%; object-fit: cover;}
.profileinfo { float: left; width: 600px; height: auto;}
.profilenum { width: 600px; height: auto; text-align: center; display: inline-block; margin-top: 20px; }
.follow { width: 200px; height: auto; float: left;}
.btnarea { width: 460px; height: auto; display: inline-block;}
.btnin input[type="button"] { border:none; outline: none; width: 100px; height: 40px; background-color: black; color: white; border-radius: 10px; }
.btnin input[type="button"]:hover { cursor:pointer; }
.idin { font-size: 30pt; float: left; margin-left: 70px; margin-right: 20px;  }
.btnin { float: left; }

.brdregi { width: 860px; height: auto; border: 0.2px #D5D5D5 solid; margin-top: 20px; display: inline-block; border-radius: 10px; padding: 10px;}
.userpic { width: 120px; height: auto; float: left; text-align: center;}
.userpic img { width: 50px; height: 50px; object-fit: cover; border-radius: 70%; }
.brdconwrap { width: auto; height: auto; display: inline-block; float: right; }
.brdconin { width: 700px; height: auto; background-color: #D5D5D5; border-radius: 10px;  padding: 20px;}
.brdconin textarea { width: 680px; height: auto; border:none; outline: none; resize: none; background-color: #D5D5D5; overflow:hidden; }
.regibtn { width: 740px; height: auto; padding-top: 10px; border-top: 0.2px #D5D5D5 solid; margin-top: 10px; display: inline-block; }
.brdregipic { width: 150px; height: 20px; display: inline-block; float: left; margin-right: 10px; padding: 7px 10px; text-align: center; border-radius: 10px;}
.brdregipic:hover { background-color: #EAEAEA; cursor: pointer; }
.brdregipic img { width: 20px; height: 20px; float: left; margin-left: 20px; }
.text { display: inline-block; float:left; margin-left:10px; margin-top:3px; }
.text:hover { cursor: pointer; }
.brdregibtn { width: 150px; height: 17px; float: left; padding: 10px 10px 7px 10px; text-align: center; border-radius: 10px; }
.brdregibtn:hover { background-color:#EAEAEA; cursor: pointer;}
#brdsubbtn:hover { cursor: pointer;}

.brdgallery { width: 920px; height: auto;}
.brdgallery ul li{ display: inline-block; }


/* Layout - footer */

footer{ width: 100%; height: 200px; border-top: 2px gray solid;}
.footerwrap { width: 980px; height: 100%; margin: 20px auto;}
.footerlogo { font-family: 'Paytone One', sans-serif; border-right: 1px gray solid; padding-right: 30px; font-size: 20pt;}
.footeradd { margin-left: 30px; font-size: 15pt;}
.footerwrap ul li{ display: inline;}
.footerinfo { float: right; padding-top: 10px; font-size: 15pt;}


