<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="select">

	<select id="mainSelect" resultType="bean.MagazineDTO">
	
	select * from magazine_tbl order by maga_readcount desc;
	
	</select>
	
	<select id="selectMagaList" resultType="bean.MagazineDTO" parameterType="java.util.Map">
	
	select * from magazine_tbl order by maga_re_ref desc, maga_re_seq asc limit #{StartRow},10;
	
	</select>
	
	<select id="selectcount" resultType="Integer">
	
	select count(*) from magazine_tbl;
	
	</select>
	
	<insert id="insert" parameterType="bean.MagazineDTO">

	insert into magazine_tbl values(default , #{magatitle}, #{magacon}, #{magaimg}, 0, 0, 0, 0, now());

	</insert>
	
	<select id="selectMagaDetail" resultType="bean.MagazineDTO" parameterType="bean.MagazineDTO">
	
	select * from magazine_tbl where magano = #{magano};
	
	</select>
	
	<update id="updateReadCount" parameterType="bean.MagazineDTO" >
	
	update magazine_tbl set maga_readcount = maga_readcount+1 where magano = #{magano};
	
	</update>
	
	<delete id="deleteMaga" parameterType = "bean.MagazineDTO">
	
	delete from magazine_tbl where magano = #{magano};
	
	</delete>
	
	<update id="updateMaga" parameterType="bean.MagazineDTO">
	
	update magazine_tbl set magatitle = #{magatitle}, magacon = #{magacon} where magano = #{magano};
	
	</update>
	
	<insert id="privateinforegi" parameterType = "bean.PrivateInfoDTO">
	
	insert into privateinfo_tbl values(#{user_id}, #{user_weight}, #{user_height}, #{user_top}, #{user_bottom}, #{user_shoe}, #{user_img});
	
	</insert>

	<select id ="getprivateinfo" parameterType ="bean.PrivateInfoDTO" resultType="bean.PrivateInfoDTO">
	
	select * from privateinfo_tbl where user_id = #{user_id};
	
	</select>
	
	<insert id ="privatebrdregi" parameterType="bean.PrivateBrdDTO">
	
	insert into privatebrd_tbl values(default, #{user_id}, #{pbrd_pic}, #{pbrd_con}, now());
	
	</insert>
	
	<select id ="privatebrdsel" parameterType ="bean.PrivateBrdDTO" resultType = "bean.PrivateBrdDTO">
	
	select * from privatebrd_tbl where user_id = #{user_id};
	
	</select>
	
	<select id ="getbrddetail" parameterType = "bean.BoardGetDTO" resultType = "bean.BoardGetDTO">
	
	select 
		privatebrd_tbl.pbrdno,
 	    privatebrd_tbl.user_id as id,
   		privatebrd_tbl.pbrd_pic,
   	 	privatebrd_tbl.pbrd_con,
   	 	privatebrd_tbl.pbrd_date,
    	privateinfo_tbl.user_weight,
    	privateinfo_tbl.user_height,
    	privateinfo_tbl.user_top,
    	privateinfo_tbl.user_bottom,
    	privateinfo_tbl.user_shoe,
    	privateinfo_tbl.user_img
	from privatebrd_tbl, privateinfo_tbl
	where pbrdno = #{pbrdno} and privateinfo_tbl.user_id = privatebrd_tbl.user_id;
	
	</select>
	
	<insert id ="privatebrdreply" parameterType ="bean.PrivateBrdReplyDTO">
	
	insert into privatebrdreply_tbl values(default, #{pbrdno}, #{user_id}, #{reply_con}, 1, 1, 1, now(), #{user_img});
	
	</insert>
	
	<insert id="brdlikein" parameterType="bean.PrivateBrdLikeDTO">
	
	insert into privatebrdlike_tbl values(#{user_id}, #{pbrdno});
	
	</insert>
	
	<select id ="privatebrdlike" parameterType="bean.PrivateBrdLikeDTO" resultType ="Integer">
		
	select count(*) from privatebrdlike_tbl where pbrdno = #{pbrdno} and user_id = #{user_id};
	
	</select>
	
	<delete id="likedel" parameterType="bean.PrivateBrdLikeDTO">
	
	delete from privatebrdlike_tbl where user_id=#{user_id} and pbrdno =#{pbrdno};
	
	</delete>
	
	<select id ="privatebrdreplyget" parameterType = "bean.PrivateBrdReplyDTO" resultType = "bean.PrivateBrdReplyDTO">
	
	select * from privatebrdreply_tbl where pbrdno = #{pbrdno};
	
	</select>
	
	<select id="gettotalbrd" resultType="bean.BoardGetDTO">
	
	select 
		privatebrd_tbl.pbrdno,
 	    privatebrd_tbl.user_id as id,
   		privatebrd_tbl.pbrd_pic,
   	 	privatebrd_tbl.pbrd_con,
   	 	privatebrd_tbl.pbrd_date,
    	privateinfo_tbl.user_weight,
    	privateinfo_tbl.user_height,
    	privateinfo_tbl.user_top,
    	privateinfo_tbl.user_bottom,
    	privateinfo_tbl.user_shoe,
    	privateinfo_tbl.user_img
	from privatebrd_tbl, privateinfo_tbl
	where privateinfo_tbl.user_id = privatebrd_tbl.user_id;
	
	</select>
	
	<delete id="privatebrddel" parameterType = "bean.PrivateBrdDTO">
	
	delete from privatebrd_tbl where pbrdno=#{pbrdno};
	
	</delete>
	
	<delete id="privatebrdreplydel" parameterType = "bean.PrivateBrdDTO">
	
	delete from privatebrdreply_tbl where pbrdno = #{pbrdno};
	
	</delete>
	
	<delete id="privatebrdlikedel" parameterType="bean.PrivateBrdDTO">
	
	delete from privatebrdlike_tbl where user_id=#{user_id} and pbrdno =#{pbrdno};
	
	</delete>
	
	<insert id ="marketbrdregi" parameterType ="bean.BoardDTO">
	
	insert into market_tbl values(default, #{user_id}, #{mktbdtitle}, #{mktbdprice}, #{mktbdcon}, now(), #{mktbdimg});
	
	</insert>
	
	<select id ="marketbrdget" resultType="bean.BoardDTO">
	
	select * from market_tbl;
	
	</select>
	
	<select id="marketidsrch" resultType="bean.BoardDTO">
	
	select * from market_tbl where mktbddate between date(now())-#{criteria_02} and date(now()) and user_id like CONCAT('%',#{srchword},'%');

	</select>
	
	<select id="markettitlesrch" resultType="bean.BoardDTO">
	
	select * from market_tbl where mktbddate between date(now())-#{criteria_02} and date(now()) and mktbdtitle like CONCAT('%',#{srchword},'%');
	
	</select>
	
	<select id="marketdetail" parameterType ="bean.BoardDTO" resultType="bean.BoardDTO">
	
	select * from market_tbl where mktbdno = #{mktbdno} ;
	
	</select>
	
</mapper>
